<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zane.l">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.zane.ui.MyApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zane.ui.HomeFragmentActivity">
        </activity>
        <!--闪屏-->
        <activity android:name="com.zane.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--笑话浏览模式activity-->
        <activity android:name="com.zane.ui.jokefragment.ChooseJokeBrowseTypeActivity"
        android:theme="@style/translucent"
        android:configChanges="orientation|screenSize"
        android:windowSoftInputMode="adjustPan"/>
        <!--图片缩放activity-->
        <activity android:name="com.zane.ui.ImageFragmentActivity"
            android:theme="@style/ImageFragmentTheme"
            android:configChanges="orientation|screenSize"/>
        <!--浏览器activity-->
        <activity android:name="com.zane.ui.WebviewActivity"
            android:theme="@style/ImageFragmentTheme"
            android:configChanges="orientation|screenSize">

        </activity>
        <!--bmob更新-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="595b35adb27b0a111000196533"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"></meta-data>
    </application>

</manifest>