<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zane.l">
    <!--AgentWeb 是默认启动定位的 ， 请在你的 AndroidManifest 文件里面加入如下权限 。-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.zane.ui.MyApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zane.ui.HomeFragmentActivity">
        </activity>
        <!--闪屏-->
        <activity android:name="com.zane.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Test-->

        <!--笑话浏览模式activity-->
        <activity android:name="com.zane.ui.jokefragment.ChooseJokeBrowseTypeActivity"
        android:theme="@style/translucent"
        android:configChanges="orientation|screenSize"
        android:windowSoftInputMode="adjustPan"/>
        <!--历史上的今天详情界面-->
        <activity android:name="com.zane.todayhistory.HistoryDetailActivity"
            android:theme="@style/ImageFragmentTheme"
            android:configChanges="orientation|screenSize"/>
        <!--图片缩放activity-->
        <activity android:name="com.zane.ui.ImageFragmentActivity"
            android:theme="@style/ImageFragmentTheme"
            android:configChanges="orientation|screenSize"/>
        <!--浏览器activity--><!--如果你的应用需要用到视频 ， 那么请你在使用 AgentWeb 的 Activity 对应的清单文件里加入如下配置-->
        <activity android:name="com.zane.ui.WebviewActivity"
            android:theme="@style/ImageFragmentTheme"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true">

        </activity>
        <!--bmob更新-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>


        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59730df1e88bad4d59000830"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"></meta-data>
    </application>

</manifest>